#title {
  text-align: center;
  padding-top: 0.5em;
  font-size: 70px;
  font-family: Garamond, Baskerville, "Baskerville Old Face";
  font-weight: normal;
  color: rgba(0, 0, 0, 1)
}

h2 {
  text-align: center;
  color: rgba(10, 5, 10, 0.85);
  font-style: italic;
  font-weight: normal;
  margin-bottom: 2em;
  padding-bottom: 4em;
}

.init {
  color: #101010;
  font-weight: bold;
}
.card.features{
  text-align: center;
  color:#234543;
}
