a {
	outline: 0;
}
html {
	min-height: 101%;
}
body, div, ul, li, a, h1, h2, p, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: 0;
}
ul {
	list-style: none;
}
h1 {
	font-size: 100%;
	font-weight: normal;
}
.clear {
	clear: both;
}
