p {
  background-color: #A2F4C7;
}

a.a1:hover {
  color: red;
}

span.s1 {
  cursor: pointer;
}
#round {
  -webkit-border-radius: 24px;
  border-radius: 0px 24px 0px 24px;
  border: 4px dotted blue;
  width: 250px;
  padding: 25px;
  background-color: #C3F8A0;
  box-shadow: 30px 30px 20px -10px #ABCDEF, inset 0 0 10px 4px #FF6347, 0 0 10px 30px #FFDAB9, 30px 0 20px 30px #B0E0E6;
  -webkit-transform: rotateX(10deg);
  animation-name: rotationX;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes rotationX {
   from { -webkit-transform: rotateX(10deg); }
   to { -webkit-transform: rotateX(80deg); }
}

nav {
  padding: 50px 0;
  min-width: 500px;
}

nav ul {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 10px;
  color: #ABCDEF;
  font-size: 18px;
  font-family: Arial;
  text-decoration: none;
  display: block;
}

.honoka {
  color: orange;
}

.kotori {
  color: white;
}

.umi {
  color: blue;
}

.maki {
  color: red;
}
